@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
/* 
- Mobile: 375px
- Desktop: 1440px
*/

ul {
    list-style: none;  
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.fw-400 {
    font-weight: 400;

}
.fw-700 {
    font-weight: 700;
    font-size: 1.7rem;
}

.container {
    height: 100vh;
    background-color: var(--grey900);
    width: max-content;
    margin: auto;
    padding: 1.5rem;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--grey800);
    width: max-content;
    padding: 1.5rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-header {
    width: 6rem;
}

img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card-body {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-body h3 {
    color: var(--green);
}
.card-body span {
    font-weight: 300;
}

.body-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    background-color: var(--grey700);
    border-radius: .5rem;
    padding: 1rem;
    color: var(--white);
}